html, body, #root, .App-container{
  width: 100%;
  height: 100vh;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-container{
  background-image: linear-gradient(100deg, #575656, #062e3f);
  overflow-y: auto;
}
